{% extends "shop/base.html" %}
{% load static %}

{% block title %}О нас - Мой магазин{% endblock %}

{% block content %}
    <h1>О нас</h1>
    <p>Добро пожаловать в "Мой магазин"!</p>
    <p>Мы стремимся предоставить лучшие товары по лучшим ценам. Наша миссия - сделать ваши покупки удобными и приятными.</p>
    <p>Наша команда работает каждый день, чтобы находить для вас качественные продукты и обеспечивать высокий уровень сервиса.</p>
    <p>Спасибо, что выбрали нас!</p>
    
    <h2>Наша история</h2>
    <p>Магазин был основан в 2025 году с целью... (здесь можно добавить больше текста о вашей компании, ее ценностях, истории и т.д. Этот текст статичен и меняется только редактированием этого HTML-файла, если не использовать более сложную CMS-подобную систему).</p>
    
    <h2>Почему мы?</h2>
    <ul>
        <li>Широкий ассортимент товаров для любых нужд.</li>
        <li>Выгодные цены, регулярные акции и специальные предложения.</li>
        <li>Быстрая и надежная доставка по всему Кыргызстану.</li>
        <li>Гарантия качества на все товары.</li>
        <li>Профессиональная и дружелюбная поддержка клиентов.</li>
    </ul>
{% endblock %}